#body
{
    background-color: beige;
}

div#body
{
    display: table;
    width: 100%;
}

div#body > div
{
    display: table-cell;
    padding: 1em;
}

#menu
{
    background-color: deepskyblue;
    width: 20%;
}

#main
{
    background-color: gold;
    width: 65%;
}

#main ul.tag-list li
{
    background-color: mediumseagreen;
}

#main a
{
    color: black;
    background-color: deepskyblue;
}

#main a:hover
{
    background-color: white;
}

#tag-cloud
{
    background-color: mediumseagreen;
    width: 15%;
}

#post
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#post > p.post-date
{
    background-color: orange;
    font-style: italic;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}

#post > ul.tag-list
{
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}

#post > img
{
    display: inline-block;
    margin: 2ex auto;
}

ul.post-list li a,
ul.tag-list li a
{
    display: block;
    padding: 0.5ex 0.5em;
    text-decoration: none;
}
ul.tag-list li
{
    display: inline-block;
}
ul.post-list li a:hover
{
    background-color: white;
}
ul.tag-list li a:hover
{
    background-color: yellow;
}
