body
{
    background-color: white;
    color: black;
}

div
{
    display: block;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

p
{
    margin-top: 1ex;
    margin-bottom: 1ex;
}