/***************************************************************
 * code snippet (with pygments) - optional styling
 **************************************************************/

table.skryba-snippet-pygmentstable
{
  border-collapse: collapse;
}

table.skryba-snippet-pygmentstable,
table.skryba-snippet-pygmentstable th,
table.skryba-snippet-pygmentstable td
{
  border-width: thin;
  border-style: solid;
  border-color: black;
}
