/***************************************************************
 * Post table as a proper table - optional styling
 **************************************************************/

table.skryba-post-table
{
  border-collapse: collapse;
}

table.skryba-post-table,
table.skryba-post-table th,
table.skryba-post-table td
{
  border-width: thin;
  border-style: solid;
  border-color: black;
}

table.skryba-post-table th,
table.skryba-post-table td,
table.skryba-post-table td p
{
  text-align: left;
  vertical-align: top;
}

table.skryba-post-table th {
  padding: 0.5em;
}
table.skryba-post-table td > p {
  margin: 0;
  padding: 0.25em;
}

table.skryba-post-table ul.skryba-tag-list {
  margin: 0;
}

table.skryba-post-table a.skryba-post {
  padding: 0.25em;
}
