/***************************************************************
 * Post table as a proper table - basic styling
 **************************************************************/

table.skryba-post-table
{
  display: table;
}

table.skryba-post-table tr,
table.skryba-post-table tr:first-child
{
  display: table-row;
}

table.skryba-post-table th,
table.skryba-post-table td,
table.skryba-post-table td.skryba-post-date
{
  display: table-cell;
}

table.skryba-post-table a.skryba-post {

  /*
   * Display is block because this is relied upon
   * by height adjustments in skryba.js.
   *
   * Hence in this file.
   */
  display: block;
}
