/***************************************************************
 * Photo gallery
 **************************************************************/

ol.skryba-photo-gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ol.skryba-photo-gallery li.skryba-photo {
  display: block;
  float: left;
  margin: 1em;
}

ol.skryba-photo-gallery li.skryba-photo a {
  display: block;
}

ol.skryba-photo-gallery li.skryba-photo img {
  display: block;
  max-width: 300px;
  height: auto;
}
