/***************************************************************
 * Post table as a list
 **************************************************************/

table.skryba-post-table
{
  display: block;
}

table.skryba-post-table tr
{
  display: list-item;
  list-style-type: none;
}

table.skryba-post-table tr:first-child,
table.skryba-post-table th
{
  display: none;
}

table.skryba-post-table td
{
  display: inline-block;
}

table.skryba-post-table td.skryba-post-date
{
  display: none;
}
