/***************************************************************
 * code snippet (with pygments) - basic styling
 **************************************************************/

table.skryba-snippet-pygmentstable td.code:not(.skryba-js-width-resize)
{
  /*
   * Some code listings can be very wide due to long lines, so let's
   * set this default limit on the code column width. A horizontal
   * scrollbar will be shown (see below).
   */
  max-width: 40em;
}

table.skryba-snippet-pygmentstable td.code > div
{
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;

  /* A horizontal scrollbar. */
  overflow-x: auto;
}
