/***************************************************************
 * Tag list
 **************************************************************/

ul.skryba-tag-list {
  padding: 0;
}

ul.skryba-tag-list a.skryba-tag {
  display: block;
  padding: 0.25em 0.5em;
  margin: 0.3em 0.2em;
  text-decoration: none;
  border-radius: 0.5em;
}

ul.skryba-tag-list > li {
  display: inline-block;
}
