<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="{% block path_to_root %}.{% endblock %}/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="{{ self.path_to_root() }}/css/blog.css"/>
<title>{% block title %}My personal blog{% endblock %}</title>
</head>

<body>
{% block body %}
<h1>My personal blog</h1>
<div id="body">
<div id="main">Welcome!</div>
<div id="menu">{{ menu }}</div>
<div id="tag-cloud">{{ tag_cloud }}</div>
</div>
{% endblock %}
</body>
</html>
