{# render a post date (skryba-post-date) #}
{%- macro post_date(date_year, date_month, date_day, date_fmt, date_cmt) -%}
<span class="skryba skryba-post-date">
{%- if date_fmt -%}
{{ date_fmt }}
{%- else -%}
{{ date_year }}-{{ date_month }}-{{ date_day }}
{%- endif -%}
{%- if date_cmt -%}
; {{ date_cmt }}
{%- endif -%}
</span>
{%- endmacro -%}

{# render a table of Post objects #}
{%- macro post_table(post_list, path_to_root, lang='') -%}
<table class="skryba skryba-post-table">
<tr><th>Title</th><th>Date</th><th>Tags</th></tr>
{% for post in post_list|sort(reverse=True, case_sensitive=False, attribute="year,month,day,title") %}
<tr>
<td><a class="skryba skryba-post" href="{{ path_to_root|e }}/{{ post.rellink }}">{{ post.title }}</a></td>
<td class="skryba skryba-post-date" ><p>{{ post.origdate }}</p></td>
<td>{{ Tag_list(post.tag_objs, path_to_root, lang) }}</td>
</tr>
{% endfor %}
</table>
{%- endmacro -%}

{# render a list of Tag objects #}
{%- macro Tag_list(Tags, path_to_root, lang='') -%}
{% if Tags is defined and Tags %}
<ul class="skryba skryba-tag-list">
{% for t in Tags|sort(reverse=False, case_sensitive=False, attribute="value") %}
<li><a class="skryba skryba-tag" href="{{ path_to_root|default('.')|e }}/{% if (lang is defined) and lang %}{{ lang }}/{% endif %}tag/{{ (t.filename)|e }}/">{{ (t.value)|e }}</a></li>
{% endfor %}
</ul>
{% endif %}
{%- endmacro -%}
